.head {
  margin-top: 15vh;
  margin-bottom: 5vh;
  font-size: 3em;
  width: fit-content;
}
.head::after {
  width: 100%;
  content: "";
  display: block;
  background-color: white;
  height: 0.2vh;
}
@media (max-width: 600px) {
  .head {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 2em;
  }
}
