.hero_vid {
  z-index: -2;
  position: absolute;
  width: 90%;
  top: 0;
  right: 0;
}

.main_head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 40vw;
  gap: 3vh;
}

.main_head img {
  height: 18vh;
}
.para {
  padding: 3vh 0;
  font-size: 2em;
  text-align: center;
}
.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  /* background-color: #252525; */
  border: 1px solid white;
  margin: 3vh 0;
  margin-bottom: 0;
}
.countdown_head {
  font-size: 1.8em;
  padding-bottom: 1vh;
  padding: 1vh 1vw;
  font-weight: 1200;
  background-color: black;
  letter-spacing: 0.1em;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
.countdown_flex {
  display: flex;
  gap: 2vw;
}
.countdown_flex div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown_value {
  text-align: center;
  font-size: 2.8em;
  font-weight: 900;
  padding: 0.5vh 0;
}
.countdown_sub {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1em;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .para {
    font-size: 1.2em;
    width: 100%;
    /* border: 2px solid red; */
    padding: 0;
  }
  .hero_vid {
    top: 7vh;
    z-index: 1;
    height: 45vh;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0.8;
  }
  .main_head {
    margin-top: 30vh;
    width: 100%;
    height: 85vh;
    padding: 0;
  }
  .main_head img {
    height: 9vh;
    align-self: center;
  }
  .countdown {
    margin: 0 5vw;
  }
  .countdown_head {
    font-size: 1.5em;
    letter-spacing: 0;
  }
  .countdown_flex {
    gap: 10vw;
  }
  .countdown_value {
    font-size: 1.5em;
  }
  .countdown_sub {
    font-size: 0.9em;
  }
}
